*.iml
.idea
database
target
.DS_Store
dependency-reduced-pom.xml
.settings
.project
.classpath
ngrok
ngrok.tgz
ngrok.zip
tmp.myenv
*.log
.envrc
.envrc
.mock-db
acceptance-tests/*.csv
.tst
out
.java-version